@import "bourbon/bourbon";
@import "neat/neat";
@import "theme/variables";
@import "theme/alert";
@import "theme/auth";
@import "theme/content";
@import "theme/dashboard";
@import "theme/header";
@import "theme/hero-features";

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #444;
  line-height: 1.5;
}

a, %transition {
  transition: all 0.125s ease-in-out;
}

a { cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif;
}
