.user-login, .user-register {
  &-background {
    $blur: 1em;
    background-image: url("images/pineapple-desk-blur.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    overflow: hidden;
  }
}

.user-form {
  @include span-columns(8);
  @include shift(4);
  padding: 1em;
  border-radius: 0.25em;
  background-color: $main-color; //$dark-background-color;
  margin-top: 2em;
  box-shadow: $main-shadow;

  &-title {
    margin: 0;
    padding: 0;
    color: $font-color;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $dark-main-color;
    text-shadow: $main-text-shadow-color 0 1px 1px;
  }

  &-message {
    color: $font-color;
    text-shadow: $main-text-shadow-color 0 1px 1px;
    padding: 0.25em;
  }

  &-actions {
    padding-top: 0.25em;
    margin-top: 0.75em;
    border-top: 1px solid $dark-main-color;

    :first-child {
      margin-left: 0 !important;
    }
  }

  .errors {
    background-color: $tertiary-color;
    border: 1px solid $dark-tertiary-color;
    color: $tertiary-font-color;
    text-shadow: $tertiary-text-shadow-color 0 1px 1px;
    padding: 0.5em;
    border-radius: 0.125em;
  }

  .errors-item {
    list-style-type: none;

    &:before { content: " \2013 "; }
  }

  input, button, .checkbox-label, &-input {
    padding: 0.5em;
    font-family: "Lato", sans-serif;
    font-size: $em-base;
    line-height: 1.5;
    border: none;
    outline: none;
    margin: 0.25em 0;
    border-radius: 0.125em;
    background-color: $dark-main-color;
    color: $font-color;
    text-shadow: $main-text-shadow-color 0 1px 1px;
    border: 1px solid transparent;
  }

  button:disabled, input:disabled {
    background-color: $light-dark-main-color;
  }

  #{$all-text-inputs} {
    display: block;
    width: 100%;
  }

  #{$all-button-inputs} {
    @extend %transition;
    padding: 0.75em 1em;
    margin: 0.25em;
    cursor: pointer;

    &:hover {
      background-color: $darker-main-color;
    }

    &:active {
      background-color: $darkest-main-color;
    }
  }

  a {
    color: $font-color;
    text-decoration: none;
    padding: 0.75em 1em;
    margin: 0.25em;
    display: inline-block;
    border-radius: 0.125em;
    border: 1px solid transparent;

    &:hover {
      background-color: $dark-main-color;
    }
  }

  &-link-primary {
    background-color: $dark-main-color;

    &:hover {
      background-color: $darker-main-color;
    }

    &:active {
      background-color: $darkest-main-color;
    }
  }
}

.checkbox {
  &-box { display: none; }
  &-label {
    width: 100%;
    display: block;
  }

  &-box:checked + &-label { background-color: $secondary-color; }
}
