.hero {
  background-image: url("images/desk.jpg");
  background-position: center;
  background-size: cover;
  background-color: $under-color;
  min-height: 80vh;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z-index: -1;
  padding-top: 10vh;
  text-align: center;
  box-shadow: $under-inverted-shadow;
  margin-bottom: 20em;

  &-header, &-tagline {
    padding: 0;
    margin: 0;
    text-shadow: rgba($under-text-shadow-color, 0.7) 1px 2px 5px;
    color: $under-font-color;
  }
  &-header { font-size: 3em; }
  &-tagline { font-size: 1.5em; }

  &-seperator {
    border: none;
    max-width: 30em;
    border-top: 1px dashed rgba($under-font-color, 0.3);
    border-bottom: 1px dashed rgba($under-text-shadow-color, 0.21);
  }

}

.minihero {
  background-image: url("images/pineapple-desk.jpg");
  background-position: center;
  background-size: cover;
  min-height: 20vh;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: $under-inverted-shadow;

  &-after {
    margin-top: 20vh;
  }
}

.feature {
  margin-top: 80vh;

  &-item {
    @include span-columns(4);
    @include pad();
    text-align: center;

    &:last-child {
      border-right: none;
    }

    &-icon {
      max-width: 75%;
      border-radius: 50%;
    }

    &-body {
      font-size: 12px;
    }
  }
}
